// @else

/* 

nah kita coba terapkan if dan else pada
kasus yang berbeda

misalnya kita terapkan sebuah konsep light mode dan dark mode
kita coba atur dulu warnanya

*/


$light-bg : #aeae;
$light-text: #333;
$dark-bg : #999;
$dark-text: #ddd;

@mixin color-mode($light-mode: true) {
        @if($light-mode){
            background-color: $light-bg;
            color: $light-text;
        }@else{
            background-color: $dark-bg;
            color: $dark-text;
        }
}


body{
    @include color-mode(false);
}