// build in modules


/* 

nah selanjutnya kita akan belajar mengenai complement
complement digunakan untuk memilih warna yang bersebarang dengan warna
yang kita gunakan

contoh


*/

h1,h2,h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}



$warna-dasar:salmon;

h1{
    color: complement($color: $warna-dasar);
}


/* 

kalo kalian masukkan warnanya yang ada dicss itu kedalam 
color wheel punynya di canva

maka warnanya akan berlawanan dengan warna yang kita berikan
dan warna salmon itu kalo hexsanya #FA8072


*/


/* 


nah sekarang kita coba yang darken
dan juga yang ligthen

*/

h2{
    color: darken($color: salmon, $amount: 20);
}

/* 

maka dia akan gelap sebanyak 20 persen
nah darken itu membuat warnanya akan bergeser keatas pada
roda warnanya

nah kebalikannya itu ada yang namanya lighten

*/

h3{
    color: lighten($color: salmon, $amount: 20);
}

/* 

kalo semakin banyak maka warnanya akan semakin memudar
dan roda warnanya akan semakin kedalam




*/